extends base.pug

block content
    h4 Change Title of #{video.id}
    //- method post request를 백엔드로 전달
        method의 기본값은 get : 검색할 때 사용(구글, 네이버)
        post : 파일 전달, DB를 바꾸는 data를 보낼 때, 로그인 시 사용
        인풋에 name 속성을 적지 않으면 req.body에 내용이 들어가지 않는다.
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(value="Save", type="submit")